*~
*#
*.elc
elpa/**
straight/**
local.el
ac-comphist.dat
.emacs.desktop.lock
.emacs.desktop
session*
/auto-save-list/
anaconda-mode
passwords.el
ido.last
transient/
network-security.data
.DS_Store
.lsp-session-v1
